.popup {
  position: absolute;
  background: #000000;
  background-color: #FFF;
  width: 430px;
  height: 330px;
  top: 195px;
  left: calc(50% - 215px);
  visibility: hidden;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  flex-flow: column;
  opacity: 0;
  transition: visibility 0s, opacity .2s linear;
}

@media screen and (max-width: 500px) {
  .popup {
    max-width: 282px;
    left: calc(50% - 141px);
    top: 123px 
  }  
}