.popup__container {
  background-color: #FFF;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  margin-top: 195px;
  position: relative;
}

@media screen and (max-width: 500px) {
  .popup__container {
    max-width: 282px;
  }  
}