.discover__avatar {
  border-radius: 50%;
  border: none;
  object-fit: cover;  
  transition: opacity, .3s;
}

.discover__avatar:hover { 
  opacity: .2;
  cursor: pointer;
  z-index: 0;
}

@media screen and (max-width: 590px) {
  .discover__avatar{
    margin: 0 auto 22.25px auto;
    justify-self: center;
    padding-top: 3.75px;
    padding-bottom: 3.75px;
  }  
}